<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <header>N01579323</header>
    {{{body}}}
    
    <footer>akshathdsza98@gmail.com</footer>
    </div>
  </body>
</html>